{% extends 'base.html' %}

{% block allSubject %}

{% load static %}

<style>
    main {
        margin-top: 60px;
        background: #f1f5f9;
        min-height: 90vh;
        padding: 1rem 3rem;
        /* border: 10px solid purple; */
    }

    .dash_titile {
        color: var(--color-dark);
        margin-bottom: .5rem;
        font-family: Algerian;
        font-size: 1.8rem;
        z-index: 1;
    }

    .subject_add_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid #fff;
        border-radius: 8px;
        width: 180px;
        height: 38px;
        cursor: pointer;
        background: var(--main-color);
        color: #fff;
        z-index: 1;
    }

    .successAlert {
        margin: 0;
        margin-top: .8rem;
        padding-left: 1rem;
        padding: 8px;
        display: none;
    }

    .recent {
        margin-top: 1.1rem;
        margin-bottom: 1rem;
        z-index: 1;
    }

    .activity_card {
        background: #fff;
        border-radius: 7px;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .activity_card h3 {
        color: var(--text-grey);
        margin: 1rem;
        font-size: 1.5rem;
        font-family: sans-serif;
    }

    .activity_card table {
        width: 100%;
        border-collapse: collapse;
    }

    .activity_card thead {
        background: #efefef;
        text-align: left;
    }

    .activity_card tbody {
        text-align: left;
    }

    th,
    td {
        font-size: .9rem;
        padding: 1rem 1rem;
        color: var(--color-dark);
    }

    tbody tr:nth-child(even) {
        background: #f9fafc;
    }

    .event_icon {
        text-decoration: none;
        color: var(--color-dark);
    }

    .card_footer {
        height: 30px;
        display: block;
        /* border:1px solid black; */
    }

    .card_footer a {
        text-decoration: none;
    }

    .card_footer span {
        float: right;
        margin-right: 1rem;
        font-size: 1.2rem;
        color: var(--color-dark);
    }

    .table_responsive {
        overflow-x: auto;
    }

    .editBtn {
        cursor: pointer;
    }
    .deleteBtn {
        cursor: pointer;
    }

    /* main style end */

    @media only screen and (max-width: 1200px) {
        .sidebar {
            width: 60px;
            z-index: 150;
        }

        .sidebar .sidebar_header h3 span,
        .sidebar li span:last-child {
            display: none;
        }

        .sidebar .sidebar_header,
        .sidebar li {
            display: flex;
            justify-content: center;
        }

        .main_content {
            margin-left: 60px;
        }

        .main_content header {
            left: 60px;
        }

        #sidebar_toggle:checked~.sidebar {
            width: 240px;
            padding-left: 1rem;
        }

        #sidebar_toggle:checked~.sidebar .sidebar_header h3 span:last-child,
        #sidebar_toggle:checked~.sidebar li span:last-child {
            display: inline;
        }

        #sidebar_toggle:checked~.sidebar .sidebar_header {
            display: flex;
            justify-content: space-between;
        }

        #sidebar_toggle:checked~.sidebar li {
            display: block;
        }

        #sidebar_toggle:checked~.main_content {
            margin-left: 60px;
        }

        #sidebar_toggle:checked~.main_content header {
            left: 60px;
        }

        header {
            position: fixed;
            width: calc(100% - 60px);
            transition: 300ms;
        }
    }

    @media only screen and (max-width: 860px) {
        .dash_cards {
            grid-template-columns: repeat(2, 1fr);
        }

        .card_single {
            margin-bottom: 1rem;
        }

        header {
            position: fixed;
            width: calc(100% - 60px);
            transition: 300ms;
        }
    }

    @media only screen and (max-width: 600px) {
        .dash_cards {
            grid-template-columns: 100%;
        }
    }

    @media only screen and (max-width: 450px) {
        main {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        header {
            position: fixed;
            width: calc(100% - 60px);
            transition: 300ms;
        }

        .search_wrapper input {
            width: 100px;
            /* border: 1px solid black; */
        }

        .social_icons div {
            display: none;
        }

        .admin_name {
            font-size: 1rem;
        }
    }
</style>

{% block adminHeader %} {% include 'papers/adminView/adminHeader.html' %} {% endblock %}

{% block addModal %} {% include 'papers/adminView/subjectArea/addSubjectModal.html' %} {% endblock %}

{% block editModal %} {% include 'papers/adminView/subjectArea/editSubjectModal.html' %} {% endblock %}

<div class="main_content">

    <main>

        <h2 class="dash_titile">Subjects</h2>

        <div class="add_btn">
            <div class="subject_add_btn ml-auto" data-target="#addSubjectModal" data-toggle="modal">
                <span><i class="fa fa-plus-circle fa-lg"></i></span>
                <span>Add New Subject</span>
            </div>
        </div>

        <!-- <div> -->
        <div class="alert alert-success successAlert" role="alert" id="alert">
            New Subject Added Successfully
        </div>
        <!-- </div> -->

        <section class="recent">
            <div class="activity_card">
                <h3>All Subjects</h3>

                <div class="table_responsive">

                    <table>
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Stream</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="subjectTableBody">
                            {% for SubjectDetails in allSubjectDetails %}
                            <tr id="subject_id_{{SubjectDetails.id}}">
                                <td id="subject_name_id_{{SubjectDetails.id}}">{{SubjectDetails.subjectName}}</td>
                                <td id="stream_name_id_{{SubjectDetails.id}}">{{SubjectDetails.streamName}}</td>
                                <td class="editBtn" data-target="#editSubjectModal" data-toggle="modal"
                                    onclick="editSubject(`{{SubjectDetails.id}}`)">
                                    <i class="fa fa-edit fa-lg event_icon"></i>
                                </td>
                                <td onclick="removeSubject(`{{SubjectDetails.id}}`)" class="deleteBtn">
                                    <i class="fa fa-trash fa-lg event_icon"></i>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>

        </section>
    </main>
</div>

<!-- using java script  -->

<script src="{% static 'papers/js/allSubjects.js' %}"></script>

{% endblock %}