<style>
    .submit {
        float: right;
        width: 100px;
        height: 35px;
        border: 1px solid;
        background: #027581;
        border-radius: 25px;
        font-size: 18px;
        color: #e0f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        text-align: center;
    }

    .submit:hover {
        border-color: #027581;
        transition: 0.5s;
    }
</style>

{% load crispy_forms_tags %} 

{% load static %}

<div class="container">

    <div class="modal fade" id='addPaperModal'>
        <div class="modal-dialog modal-dialog-centered col-12">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 id="modalHeader">Add New </h3>
                    <div class="text-secondary btn" data-dismiss="modal"> &times; </div>
                </div>

                <div class="modal-body">
                    <form id="createPaperForm" class="formContent" method="POST" autocomplete="on">
                        {% csrf_token %}

                        {{form|crispy}}

                        <div class="form-group">
                            <input type="submit" class="submit" name="submit" id="createBtn" value="Add">
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

