<!-- <style>
    .brandName a {
        text-decoration: none !important;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .brandName a:hover {
        color: #fff;
    }

    .navbar {
        position: fixed;
        top: 0;
        height: 45px;
        padding: 0 15px 0 15px;
        z-index: 100;
        width: 100%;
        background: #027581;
    }
</style>

<nav class="navbar position-fixed">
    <span class="navbar-brand brandName">
        <a href="/index">
            <strong> PAPER HUNTER </strong>
        </a>
    </span>

</nav> -->